>Reference > Release Notes > [All revisions] > Revision {{ revision.arm_22_04 }}/{{ revision.amd_22_04 }}

# Revision {{ revision.arm_22_04 }}/{{ revision.amd_22_04 }}{% if revision.arm_20_04 %}/{{ revision.arm_20_04 }}{% endif %}{% if revision.amd_20_04 %}/{{ revision.amd_20_04 }}{% endif %}

Dear community,

Canonical's newest Charmed {{ name.display }} operator has been published in the [{{ channel }} channel]:
* Revision {{ revision.amd_22_04 }} is built for `amd64` on Ubuntu 22.04 LTS
{% if revision.amd_20_04 %}* Revision {{ revision.amd_20_04 }} is built for `amd64` on Ubuntu 20.04 LTS{% endif %}
* Revision {{ revision.arm_22_04 }} is built for `arm64` on Ubuntu 22.04 LTS
{% if revision.arm_20_04 %}* Revision {{ revision.arm_20_04 }} is built for `arm64` on Ubuntu 20.04 LTS {% endif %}

If you are jumping over several stable revisions, check [previous release notes][All revisions] before upgrading.

---

## Highlights 
{{ commits.other }}

## Bugfixes and maintenance

{{ commits.bug }}

[details=Libraries, testing, and CI]
{{ commits.jira }}
{{ commits.bot }}
[/details]

## Requirements and compatibility
<!--TODO: workload, juju, or other important version changes -->

See the [system requirements] for more details about Juju versions and other software and hardware prerequisites.

### Packaging
{% block packaging %}
{% endblock %}

See the [`/lib/charms` directory on GitHub] for more details about all supported libraries.

See the [`metadata.yaml` file on GitHub] for a full list of supported interfaces.


<!-- Topics -->
[All revisions]: {{ topic.all_revisions }}
[system requirements]: {{ topic.system_requirements }}

<!-- GitHub -->
[`/lib/charms` directory on GitHub]: https://github.com/canonical/{{ name.repo }}/tree/main/lib/charms
[`metadata.yaml` file on GitHub]: https://github.com/canonical/{{ name.repo }}/blob/main/metadata.yaml

<!-- Charmhub -->
[{{ channel }} channel]: https://charmhub.io/{{ name.app }}?channel={{ channel }}

<!-- Snap/Rock -->
[`charmed-{{ name.app }}` packaging]: https://github.com/canonical/charmed-{{ name.app }}-{{ packaging }}
{% block links %}
{% endblock %}

<!-- Badges -->
[juju-2_amd64]: https://img.shields.io/badge/Juju_2.9.51-amd64-darkgreen?labelColor=ea7d56 
[juju-3_amd64]: https://img.shields.io/badge/Juju_3.4.6-amd64-darkgreen?labelColor=E95420 
[juju-3_arm64]: https://img.shields.io/badge/Juju_3.4.6-arm64-blue?labelColor=E95420