{% extends 'base.md.jinja' %}

{% block packaging %}
This charm is based on the Charmed {{ name.display }}{% if packaging == 'snap' %} [snap Revision 113/114] {% else %} [rock image]{% endif %}. It packages:
* [mysql-server-8.0 `v8.0.37`]
* [mysql-router `v8.0.37`]
* [mysql-shell `v8.0.37`]
* [prometheus-mysqld-exporter `v0.14.0`]
* [prometheus-mysqlrouter-exporter `v5.0.1`]
* [percona-xtrabackup `v8.0.35`]
{% endblock %}

{% block libraries %}
* **mysql `v0`**
  * See the API reference in the [MySQL Libraries tab]
* **grafana_agent `v0`** for integration with Grafana 
    * Implements  `cos_agent` interface
* **rolling_ops `v0`** for rolling operations across units 
    * Implements `rolling_op` interface
* **tempo_k8s `v1`, `v2`** for integration with Tempo charm
    * Implements `tracing` interface
* **tls_certificates_interface `v2`** for integration with TLS charms
    * Implements `tls-certificates` interface
{% endblock %}

{% block links %}
[MySQL Libraries tab]: https://charmhub.io/mysql/libraries

[113/114]: https://github.com/canonical/charmed-mysql-snap/releases/tag/rev114
[rock image]: https://github.com/canonical/charmed-mysql-rock/pkgs/container/charmed-mysql

[mysql-server-8.0 `v8.0.37`]: https://launchpad.net/ubuntu/+source/mysql-8.0/8.0.37-0ubuntu0.24.04.1
[mysql-router `v8.0.37`]: https://launchpad.net/ubuntu/+source/mysql-8.0/8.0.37-0ubuntu0.24.04.1
[mysql-shell `v8.0.37`]: https://launchpad.net/~data-platform/+archive/ubuntu/mysql-shell
[prometheus-mysqld-exporter `v0.14.0`]: https://launchpad.net/~data-platform/+archive/ubuntu/mysqld-exporter
[prometheus-mysqlrouter-exporter `v5.0.1`]: https://launchpad.net/~data-platform/+archive/ubuntu/mysqlrouter-exporter
[percona-xtrabackup `v8.0.35`]: https://launchpad.net/~data-platform/+archive/ubuntu/xtrabackup
{% endblock %}